.leet-clickable{
  cursor: pointer;
}

.leet-column-sorter{
  margin-left: 5px;
  color: #ff8500;
  font-size: 0.85em;
}

.leet-filter-control{
  float: right;
  color: #00aaff;
  font-size: 1.25em;
}

.leet-filter-control:hover {
  color: #ff5522;
  text-decoration: underline;
}

.leet-control{
  color: #00aaff;
  font-size: 1.25em;
  padding: 2px;
}

.leet-control:hover {
  color: #ff5522;
  text-decoration: underline;
}

.leet-hidden{
  display: none;
}

.leet-pager-btn{
  cursor: pointer;
  font-size:1.25em;
  font-weight: 600;
}

tr.leet-edit-active > td > input[type="text"].leet-edit-content{

}

tr.leet-edit-active > td > span.leet-display-content{
  display: none;
}

tr.leet-edit-inactive > td > input[type="text"].leet-edit-content,
tr.leet-edit-inactive > td > select.leet-edit-content {
  display: none;
}

tr.leet-edit-inactive > td > span.leet-display-content{

}

table.leet-grid > tbody > tr.leet-edit-dirty > td{
  background-color: #ffffbb;
}

table.leet-grid > tbody > tr.leet-edit-error > td{
  background-color: #ffbbbb;
}
