/* still primarily using the Swagger UI as-is, but some overrides need to be */
/* done after bringing in both the Swagger UI stuff and the NSIDC stylesheets */
/* from the SSIs */

.swagger-section {
  background-color: rgb(255, 255, 255);
}

.swagger-section .swagger-ui-wrap a {
  color: rgb(15, 106, 180);
}

.resource_description {
  margin-bottom: 10px;
  margin-left: 53px;
}

/* we have another api info section at the bottom for displaying contact info */
#api_info_2 {
  margin-top: 15px;
}
