
  <ul class='operations' >
    <li class='{{method}} operation' id='{{parentId}}_{{nickname}}'>
      <div class='heading'>
        <h3>
          <span class='http_method'>
          <a href='#!/{{parentId}}/{{nickname}}' class="toggleOperation">{{method}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{parentId}}/{{nickname}}' class="toggleOperation">{{path}}</a>
          </span>
        </h3>
        <ul class='options'>
          <li>
          <a href='#!/{{parentId}}/{{nickname}}' class="toggleOperation">{{{summary}}}</a>
          </li>
        </ul>
      </div>
      <div class='content' id='{{parentId}}_{{nickname}}_content' style='display:none'>
        {{#if notes}}
        <h4>Implementation Notes</h4>
        <p>{{{notes}}}</p>
        {{/if}}
        {{#oauth}}
        <div class="auth">
        <span class="api-ic ic-error"></span>{{/oauth}}
        {{#each oauth}}
          <div id="api_information_panel" style="top: 526px; left: 776px; display: none;">
          {{#each this}}
            <div title='{{{this.description}}}'>{{this.scope}}</div>
          {{/each}}
          </div>
        {{/each}}
        {{#oauth}}</div>{{/oauth}}
        {{#oauth}}
        <div class='access'>
          <span class="api-ic ic-off" title="click to authenticate"></span>
        </div>
        {{/oauth}}
        {{#if type}}
          <h4>Response Class</h4>
          <p><span class="model-signature" /></p>
          <br/>
          <div class="response-content-type" />
        {{/if}}
        <form accept-charset='UTF-8' class='sandbox'>
          <div style='margin:0;padding:0;display:inline'></div>
          {{#if parameters}}
          <h4>Parameters</h4>
          <table class='fullwidth'>
          <thead>
            <tr>
            <th style="width: 100px; max-width: 100px">Parameter</th>
            <th style="width: 310px; max-width: 310px">Value</th>
            <th style="width: 200px; max-width: 200px">Description</th>
            <th style="width: 100px; max-width: 100px">Parameter Type</th>
            <th style="width: 220px; max-width: 230px">Data Type</th>
            </tr>
          </thead>
          <tbody class="operation-params">

          </tbody>
          </table>
          {{/if}}
          {{#if responseMessages}}
          <div style='margin:0;padding:0;display:inline'></div>
          <h4>Response Messages</h4>
          <table class='fullwidth'>
            <thead>
            <tr>
              <th>HTTP Status Code</th>
              <th>Reason</th>
              <th>Response Model</th>
            </tr>
            </thead>
            <tbody class="operation-status">
            
            </tbody>
          </table>
          {{/if}}
          {{#if exampleRequests}}
          <div style='margin:0;padding:0;display:inline'></div>
          <h4>Example Requests</h4>
          <table class='fullwidth'>
            <thead>
            <tr>
              <th>Query string</th>
            </tr>
            </thead>
            <tbody class="operation-example-requests">
            
            </tbody>
          </table>
          {{/if}}
          {{#if isReadOnly}}
          {{else}}
          <div class='sandbox_header'>
            <input class='submit' name='commit' type='button' value='Try it out!' />
            <a href='#' class='response_hider' style='display:none'>Hide Response</a>
            <img alt='Throbber' class='response_throbber' src='images/throbber.gif' style='display:none' />
          </div>
          {{/if}}
        </form>
        <div class='response' style='display:none'>
          <h4>Request URL</h4>
          <div class='block request_url'></div>
          <h4>Response Body</h4>
          <div class='block response_body'></div>
          <h4>Response Code</h4>
          <div class='block response_code'></div>
          <h4>Response Headers</h4>
          <div class='block response_headers'></div>
        </div>
      </div>
    </li>
  </ul>
