<div class='heading'>
  <h2>
    <a href='#!/{{id}}' onclick="Docs.toggleEndpointListForResource('{{id}}');">{{description}}</a>
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{id}}' id='endpointListTogger_{{id}}'
         onclick="Docs.toggleEndpointListForResource('{{id}}');">Show/Hide</a>
    </li>
    <li>
      <a href='#' onclick="Docs.collapseOperationsForResource('{{id}}'); return false;">
        List Operations
      </a>
    </li>
    <li>
      <a href='#' onclick="Docs.expandOperationsForResource('{{id}}'); return false;">
        Expand Operations
      </a>
    </li>
    <li>
      <a href='{{url}}'>Raw</a>
    </li>
  </ul>
</div>

{{#if info.description}}<div class='resource_description'>{{info.description}}</div>{{/if}}

<div class='collapsible' style='display:none'>
  <ul class='endpoints' id='{{id}}_endpoint_list'>

  </ul>
</div>
